In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data_dictionary/summerOly_athletes_modified.csv")

print(df)

                         Name Sex  NOC  Year    City      Sport  \
0                 Edwin Flack   M  AUS  1896  Athina     Tennis
1                 Edwin Flack   M  AUS  1896  Athina  Athletics
2                 Edwin Flack   M  AUS  1896  Athina  Athletics
3                 Edwin Flack   M  AUS  1896  Athina  Athletics
4                 Edwin Flack   M  AUS  1896  Athina     Tennis
...                       ...  ..  ...   ...     ...        ...
252560           Joan Nyahora   F  ZIM  2024   Paris  Athletics
252561            Isaac Mpofu   M  ZIM  2024   Paris  Athletics
252562  Makanakaishe Charamba   M  ZIM  2024   Paris  Athletics
252563              van Paige   F  ZIM  2024   Paris   Swimming
252564     Denilson Cyprianos   M  ZIM  2024   Paris   Swimming

                               Event  Medal
0               Tennis Men's Singles      0
1         Athletics Men's 800 metres      1
2       Athletics Men's 1,500 metres      1
3           Athletics Men's Marathon      0
4               Tennis Men's Doubles      3
...                              ...    ...
252560              Women's Marathon      0
252561                Men's Marathon      0
252562                    Men's 200m      0
252563        Women's 100m Freestyle      0
252564         Men's 200m Backstroke      0

[252565 rows x 8 columns]

In [3]:
unique_sports = df['Sport'].unique()

print(unique_sports)

['Tennis' 'Athletics' 'Swimming' 'Cycling' 'Fencing' 'Weightlifting'
 'Gymnastics' 'Shooting' 'Wrestling' 'Polo' 'Sailing' 'Equestrianism'
 'Archery' 'Water Polo' 'Rowing' 'Tug-Of-War' 'Cricket' 'Croquet' 'Golf'
 'Rugby' 'Basque Pelota' 'Football' 'Diving' 'Lacrosse' 'Boxing' 'Roque'
 'Figure Skating' 'Motorboating' 'Hockey' 'Racquets' 'Jeu De Paume'
 'Modern Pentathlon' 'Art Competitions' 'Ice Hockey' 'Alpinism' 'Handball'
 'Canoeing' 'Basketball' 'Aeronautics' 'Judo' 'Volleyball'
 'Synchronized Swimming' 'Rhythmic Gymnastics' 'Table Tennis' 'Badminton'
 'Baseball' 'Beach Volleyball' 'Softball' 'Trampolining' 'Triathlon'
 'Taekwondo' 'Rugby Sevens' 'Artistic Gymnastics' 'Marathon Swimming'
 'Canoe Sprint' 'Cycling Road' 'Karate' 'Canoe Slalom' 'Equestrian'
 'Cycling Mountain Bike' 'Cycling BMX Racing' 'Surfing' 'Cycling Track'
 'Artistic Swimming' 'Trampoline Gymnastics' 'Baseball/Softball'
 'Cycling BMX Freestyle' 'Sport Climbing' 'Skateboarding' '3x3 Basketball'
 '3x3 Basketball, Basketball' 'Breaking' 'Marathon Swimming, Swimming'
 'Cycling Road, Cycling Track' 'Cycling Road, Cycling Mountain Bike'
 'Cycling Road, Triathlon']

In [4]:
df['Sport'] = df['Sport'].replace('3x3 Basketball', 'Basketball')
df['Sport'] = df['Sport'].replace('3x3 Basketball, Basketball', 'Basketball')

df['Sport'] = df['Sport'].replace('Marathon Swimming, Swimming', 'Swimming')
df['Sport'] = df['Sport'].replace('Marathon Swimming', 'Swimming')
df['Sport'] = df['Sport'].replace('Synchronized Swimming', 'Swimming')
df['Sport'] = df['Sport'].replace('Artistic Swimming', 'Swimming')

df['Sport'] = df['Sport'].replace('Cycling Mountain Bike', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling BMX Racing', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling Track', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling BMX Freestyle', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling Road, Cycling Track', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling Road, Cycling Mountain Bike', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling Road, Triathlon', 'Cycling')
df['Sport'] = df['Sport'].replace('Cycling Road', 'Cycling')

df['Sport'] = df['Sport'].replace('Trampolining', 'Gymnastics')
df['Sport'] = df['Sport'].replace('Rhythmic Gymnastics', 'Gymnastics')
df['Sport'] = df['Sport'].replace('Artistic Gymnastics', 'Gymnastics')
df['Sport'] = df['Sport'].replace('Trampoline Gymnastics', 'Gymnastics')

df['Sport'] = df['Sport'].replace('Archery', 'Shooting')

df['Sport'] = df['Sport'].replace('Beach Volleyball', 'Volleyball')

df['Sport'] = df['Sport'].replace('Softball', 'Baseball/Softball')
df['Sport'] = df['Sport'].replace('Baseball', 'Baseball/Softball')

df['Sport'] = df['Sport'].replace('Sailing', 'WaterSport')
df['Sport'] = df['Sport'].replace('Rowing', 'WaterSport')
df['Sport'] = df['Sport'].replace('Canoeing', 'WaterSport')
df['Sport'] = df['Sport'].replace('Canoe Sprint', 'WaterSport')
df['Sport'] = df['Sport'].replace('Canoe Slalom', 'WaterSport')
df['Sport'] = df['Sport'].replace('Motorboating', 'WaterSport')

# 奥运会新增项目或冷门项目
df['Sport'] = df['Sport'].replace('Baseball/Softball', 'Others')
df['Sport'] = df['Sport'].replace('Karate', 'Others')
df['Sport'] = df['Sport'].replace('Surfing', 'Others')
df['Sport'] = df['Sport'].replace('Sport Climbing', 'Others')
df['Sport'] = df['Sport'].replace('Skateboarding', 'Others')
df['Sport'] = df['Sport'].replace('Breaking', 'Others')
df['Sport'] = df['Sport'].replace('Rugby Sevens', 'Others')
df['Sport'] = df['Sport'].replace('Golf', 'Others')
df['Sport'] = df['Sport'].replace('Modern Pentathlon', 'Others')
df['Sport'] = df['Sport'].replace('Equestrian', 'Others')
df['Sport'] = df['Sport'].replace('Triathlon', 'Others')
df['Sport'] = df['Sport'].replace('Equestrianism', 'Others')
df['Sport'] = df['Sport'].replace('Tug-Of-War', 'Others')
df['Sport'] = df['Sport'].replace('Figure Skating', 'Others')
df['Sport'] = df['Sport'].replace('Art Competitions', 'Others')
df['Sport'] = df['Sport'].replace('Alpinism', 'Others')
df['Sport'] = df['Sport'].replace('Aeronautics', 'Others')

# 格斗类
df['Sport'] = df['Sport'].replace('Boxing', 'Combat')
df['Sport'] = df['Sport'].replace('Judo', 'Combat')
df['Sport'] = df['Sport'].replace('Wrestling', 'Combat')
df['Sport'] = df['Sport'].replace('Taekwondo', 'Combat')
df['Sport'] = df['Sport'].replace('Fencing', 'Combat')

# 球类运动
df['Sport'] = df['Sport'].replace('Table Tennis', 'Balls')
df['Sport'] = df['Sport'].replace('Basketball', 'Balls')
df['Sport'] = df['Sport'].replace('Handball', 'Balls')
df['Sport'] = df['Sport'].replace('Hockey', 'Balls')
df['Sport'] = df['Sport'].replace('Volleyball', 'Balls')
df['Sport'] = df['Sport'].replace('Tennis', 'Balls')
df['Sport'] = df['Sport'].replace('Football', 'Balls')
df['Sport'] = df['Sport'].replace('Badminton', 'Balls')
df['Sport'] = df['Sport'].replace('Water Polo', 'Balls')
df['Sport'] = df['Sport'].replace('Lacrosse', 'Balls')
df['Sport'] = df['Sport'].replace('Polo', 'Balls')
df['Sport'] = df['Sport'].replace('Jeu De Paume', 'Balls')
df['Sport'] = df['Sport'].replace('Cricket', 'Balls')
df['Sport'] = df['Sport'].replace('Croquet', 'Balls')
df['Sport'] = df['Sport'].replace('Rugby', 'Balls')
df['Sport'] = df['Sport'].replace('Basque Pelota', 'Balls')
df['Sport'] = df['Sport'].replace('Roque', 'Balls')
df['Sport'] = df['Sport'].replace('Racquets', 'Balls')
df['Sport'] = df['Sport'].replace('Ice Hockey', 'Balls')

In [5]:
print(df['Sport'].unique())

['Balls' 'Athletics' 'Swimming' 'Cycling' 'Combat' 'Weightlifting'
 'Gymnastics' 'Shooting' 'WaterSport' 'Others' 'Diving']

In [6]:
df = df.drop('Name', axis=1)
df = df.drop('Sex', axis=1)
df = df.drop('Event', axis=1)
df = df.drop('City', axis=1)
print(df)

        NOC  Year      Sport  Medal
0       AUS  1896      Balls      0
1       AUS  1896  Athletics      1
2       AUS  1896  Athletics      1
3       AUS  1896  Athletics      0
4       AUS  1896      Balls      3
...     ...   ...        ...    ...
252560  ZIM  2024  Athletics      0
252561  ZIM  2024  Athletics      0
252562  ZIM  2024  Athletics      0
252563  ZIM  2024   Swimming      0
252564  ZIM  2024   Swimming      0

[252565 rows x 4 columns]

In [7]:
result_1 = df.groupby(['NOC','Year','Sport'])['Medal'].count()

print(result_1)

result_1.to_csv("./data_dictionary/test.csv")

NOC  Year  Sport
AFG  1936  Athletics      3
           Balls         13
     1948  Balls         25
     1956  Balls         12
     1960  Athletics      9
                         ..
ZIM  2020  Swimming       2
           WaterSport     1
     2024  Athletics      4
           Swimming       2
           WaterSport     1
Name: Medal, Length: 17093, dtype: int64

In [8]:
# 使用 groupby，将每组数据展平
result_2 = result_1.groupby('NOC').agg(lambda x: list(x))

print(result_2)

NOC
AFG    [3, 13, 25, 12, 9, 7, 8, 5, 8, 11, 5, 2, 2, 3,...
AHO    [11, 5, 1, 3, 3, 2, 1, 1, 2, 2, 4, 9, 1, 2, 1,...
AIN                            [14, 3, 7, 3, 2, 7, 8, 2]
ALB    [4, 1, 1, 2, 3, 3, 2, 1, 1, 4, 1, 2, 2, 1, 2, ...
ALG    [7, 2, 7, 6, 1, 13, 28, 9, 10, 3, 9, 15, 7, 2,...
                             ...
YEM    [3, 5, 3, 1, 2, 1, 1, 1, 2, 1, 4, 1, 2, 2, 1, ...
YMD                                               [3, 2]
YUG    [15, 6, 12, 2, 8, 72, 7, 9, 4, 11, 7, 8, 56, 1...
ZAM    [6, 5, 4, 3, 4, 8, 4, 15, 14, 14, 6, 12, 8, 18...
ZIM    [2, 10, 4, 15, 1, 5, 2, 3, 3, 4, 15, 3, 4, 5, ...
Name: Medal, Length: 234, dtype: object

In [9]:
result = df.groupby(['NOC','Year']).agg(
    count_medal=('Medal', lambda x: (x == 1).sum()),
    count_gold=('Medal', lambda x: (x != 0).sum())
).reset_index()

print(result)

      NOC  Year  count_medal  count_gold
0     AFG  1936            0           0
1     AFG  1948            0           0
2     AFG  1956            0           0
3     AFG  1960            0           0
4     AFG  1964            0           0
...   ...   ...          ...         ...
3217  ZIM  2008            1           4
3218  ZIM  2012            0           0
3219  ZIM  2016            0           0
3220  ZIM  2020            0           0
3221  ZIM  2024            0           0

[3222 rows x 4 columns]